.issue {
  width: 95%;
  margin: 0 auto;
  background-color: $color-white;
  padding: 20px 40px;
  border-radius: 4px;
  box-shadow: 0 0 25px $color-very-light-grey;
  counter-reset: newsletter-link;

  &__item {
    padding: 20px 0;
    min-height: 50px;
  }

  &__info {
    padding: 5px 0;
  }

  &__preview-back {
    font-size: 16px;
  }

  &__preview-info {
    height: 90px;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    align-items: center;

    h2 {
      margin-bottom: 10px;
    }

    time {
      color: $color-black;
      font-size: 13px;
      font-weight: $font-weight-semi-bold;
    }

    &--small {
      height: 50px;
    }
  }

  &__content {
    min-height: 100px;
    padding: 16px 0 20px;

    & > a {
      text-decoration: none;
      border-bottom: none;
      padding-bottom: 5px;
      display: inline-block;
      margin-bottom: 10px;
      margin-left: 30px;
      position: relative;
    }

    & > a::before {
      display: inline-block;
      position: absolute;
      left: -30px;
      background-color: violet;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      line-height: 20px;
      text-align: center;
      background-color: $color-dark-violet;
      color: $color-white;
      font-size: 13px;
      font-weight: $font-weight-bold;
      margin-top: 1px;
      padding-left: 1px;
      counter-increment: newsletter-link;
      content: counter(newsletter-link);
    }
  }

  &__content-title {
    display: flex;
    align-items: center;
    color: $color-violet;
    font-size: 130%;
  }

  &__content-desc {
    margin-bottom: 15px;

    code {
      display: inline-block;
      background-color: $color-very-light-grey;
      color: $color-black;
      border-radius: 3px;
      padding: 2px 5px;
      font-family: $font-family-code;
      font-weight: $font-weight-semi-bold;
      font-size: 13px;
    }
  }

  &__content-info {
    display: flex;
    justify-content: space-between;

    a {
      color: $color-light-rose;
      font-style: italic;
      font-weight: 300;
      border: none;
    }

    span {
      color: $color-black;
    }
  }
}

@media all and (min-width: 481px) and (max-width: 1280px) {
  .issue {
    max-width: 768px;
  }
}

@media all and (max-width: 480px) {
  .issue {
    width: 98%;
    padding: 15px;

    &__content {
      & > a::before {
        margin-top: -1px;
      }
    }

    &__content-title {
      font-size: 15px;
    }

    &__preview-back {
      display: inline-block;
      margin-bottom: 5px;
    }
  }
}
