.issues {
  margin: 30px 0;
  width: 90%;

  h2 {
    text-transform: uppercase;
  }
}

// .issue {
//   height: 90px;
//   margin-bottom: 20px;
//   border-bottom: $border-dotted;
//   display: flex;

//   &__info {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-around;
//     padding: 10px;
//     width: 120px;
//   }

//   &__title {
//     width: 100%;
//     padding: 10px;
//     text-decoration: none;
//     font-size: 22px;
//   }

//   &__no {
//     background-color: $color-dark-bg-primary;
//     border-radius: 3px;
//     text-align: center;
//     height: 20px;
//     font-size: 13px;
//     line-height: 20px;
//     width: 70px;
//     font-weight: $font-weight-bold;
//     text-transform: uppercase;
//   }

//   &__date {
//     font-size: 13px;
//     color: $color-black;
//   }
// }

.issue__preview {
  .issue {
    display: flex;
    flex-direction: column;
  }

  .issue h2 {
    margin-bottom: 8px;
  }

  .issue__back {
    margin-bottom: 20px;
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
  }

  .issue__content {
    min-height: 500px;
    background-color: $color-white;
  }
}
