.issues {
  width: 90%;
  min-height: 500px;
  margin: 20px auto 0;
  background-color: $color-white;
  padding: 10px 15px;

  h2 {
    text-align: center;
  }

  &__month {
    color: #EC407A;
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
  }

  &__item {
    display: flex;
    min-height: 90px;
    margin-bottom: 10px;
    padding-bottom: 0;
  }

  &__preview-content:not(:last-child) {
    border-bottom: 1px solid $color-very-light-grey;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    width: 120px;
    height: 70px;
  }

  &__title {
    width: 100%;
    padding: 10px;
    text-decoration: none;
    font-size: 22px;
    border-bottom: 0;
    font-weight: $font-weight-semi-bold;
    display: flex;
    align-items: center;

    &:hover {
      color: $color-violet;
    }
  }

  &__no {
    background-color: $color-dark-bg-primary;
    border-radius: 3px;
    text-align: center;
    height: 20px;
    font-size: 13px;
    line-height: 20px;
    width: 70px;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }

  &__date {
    font-size: 13px;
    color: $color-black;
    margin-top: 10px;
    font-style: italic;
  }
}

@media all and (min-width: 481px) and (max-width: 1280px) {
  .issues {
    max-width: 768px;
  }
}

@media all and (max-width: 480px) {
  .issues {
    width: 100%;
    margin: 0;
  }

  .issues__item {
    flex-direction: column;
  }

  .issues__title {
    font-size: 20px;
    display: block;
  }

  .issues__info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    padding: 10px 0;
    align-items: center;
  }

  .issues__date {
    margin: 0;
  }
}