.issues {
  margin: 30px 15px;
  width: 90%;

  h2 {
    text-transform: uppercase;
  }
}

.issue {
  height: 90px;
  margin-bottom: 20px;
  border-bottom: 1px dashed #a5a5a5;
  display: flex;

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    width: 120px;
  }

  &__title {
    width: 100%;
    padding: 10px;
    text-decoration: none;
    font-size: 22px;
  }

  &__no {
    background-color: #f4e588;
    border-radius: 3px;
    text-align: center;
    height: 20px;
    font-size: 13px;
    line-height: 20px;
    width: 70px;
  }

  &__date {

  }
}
