.issue {
  width: 100%;
  margin: 0 auto;
  background-color: $color-white;
  padding: 20px 40px;
  border-radius: 4px;
  box-shadow: 0 0 25px $color-very-light-grey;

  &__preview-back {
    font-size: 15px;
  }

  &__preview-info {
    height: 90px;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    align-items: center;

    h2 {
      margin-bottom: 10px;
    }

    time {
      color: $color-black;
      font-size: 13px;
    }
  }

  &__content {
    height: 100px;
    padding: 16px 0 20px;
    margin-bottom: 30px;

    &>a {
      text-decoration: none;
      border-bottom: none;
      padding-bottom: 5px;
      display: inline-block;
      margin-bottom: 15px;
    }
  }

  &__content-title {
    display: flex;
    align-items: center;
    color: $color-violet;
  }

  &__count {
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: $color-dark-violet;
    color: $color-white;
    text-align: center;
    font-size: 13px;
    margin-right: 10px;
    position: relative;
    top: -2px;
    font-weight: $font-weight-bold;
  }

  &__content-desc {
    margin-bottom: 15px;
    margin-left: 32px;

    code {
      display: inline-block;
      background-color: $color-very-light-grey;
      color: $color-black;
      border-radius: 3px;
      padding: 2px 5px;
      font-family: $font-family-code;
      font-weight: $font-weight-semi-bold;
      font-size: 13px;
    }
  }

  &__content-info {
    display: flex;
    justify-content: space-between;
    margin-left: 32px;

    a {
      color: $color-light-violet;
      font-style: italic;
      font-weight: 300;
      border: none;
    }

    span {
      color: $color-black;
      // font-style: italic;
    }
  }
}

.line {
  margin: 10px 0;
  border-width: 2px;
  font-weight: lighter;
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0),
    #f3e48e,
    #868686,
    rgba(0, 0, 0, 0)) 100% 1;
  border-style: solid;
  border-top: none;
  min-height: 1px;
}