/* Colors */

// Generic
$color-white: #fff;
$color-dark: #212121;
$color-black: #424242;
$color-grey: #fbfafa;

// Background
$color-bg-primary: #f3e48e;

/* Fonts */

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;

/* Border */

$border-radius: 8px;
